@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --safe-area-top: env(safe-area-inset-top);
  --safe-area-bottom: env(safe-area-inset-bottom, 0);
  --safe-area-left: env(safe-area-inset-left, 0);
  --safe-area-right: env(safe-area-inset-right, 0);

  --ion-padding: 20px;
}

html,
body,
#__next {
  @apply h-full w-full;
}

.alert-wrapper {
  --width: 100%;
  --max-width: 768px;
}

/* tab navigation */
ion-tab-button {
  --color: var(--theme-typography);
  --theme-selected: var(--theme-primary);
}
ion-tab-bar {
  /* border-top: 1px solid var(--theme-border); */
  @apply border-t border-border;
}

/* header */
ion-header {
  @apply !shadow-none;
}

ion-toolbar {
  --ion-text-color: var(--theme-bright);
}

/* a button */
ion-button {
  --box-shadow: none;
  margin-inline: 0;
}

/* typography */
p,
.alert-message {
  @apply !text-typography-tint;
}

h1,
h2 {
  @apply text-typography;
}

/* radio */
.alert-radio-group {
  @apply border-y !border-border;
}

.has-focus div[slot="label"],
.select-expanded div[slot="label"] {
  @apply text-primary-tint;
}

/* anchor */
a {
  @apply text-primary underline;
}
