@import "@fontsource-variable/inter";
@import "@ionic/react/css/core.css";
@import "@ionic/react/css/structure.css";
@import "@ionic/react/css/padding.css";
@import "@ionic/react/css/float-elements.css";
@import "@ionic/react/css/text-alignment.css";
@import "@ionic/react/css/flex-utils.css";
/*
TEST WITHOUT NORMALIZE
@import "@ionic/react/css/normalize.css";
 */

@import "tailwindcss";
@import "./theme.css";
@import "./ionic.css";

:root {
  --safe-area-top: env(safe-area-inset-top);
  --safe-area-bottom: env(safe-area-inset-bottom, 0);
  --safe-area-left: env(safe-area-inset-left, 0);
  --safe-area-right: env(safe-area-inset-right, 0);

  --ion-padding: 16px;
  --ion-font-family: "Inter Variable", sans-serif;
}

html,
body,
#root {
  height: 100%;
}

.alert-wrapper {
  --width: 100%;
  --max-width: 768px;
}

/* tab navigation */
ion-tab-button {
  --color: var(--theme-typography);
  --theme-selected: var(--theme-primary);
}
ion-tab-bar {
  @apply border-border border-t;
}

/* header */
ion-header {
  @apply !shadow-none;
}

/* a button */
ion-button {
  --box-shadow: none;
  margin-inline: 0;
}

ion-title {
  margin-left: 16px;
}
ion-buttons + ion-title {
  margin-left: 0px;
}

/* typography */
p,
.alert-message {
  @apply !text-typography-tint space-y-4;
}

h1,
h2 {
  @apply text-typography;
}

/* radio */
.alert-radio-group {
  @apply !border-border border-y;
}

/* add nice border, for some reason the border is missing only on last child */
ion-accordion-group {
  @apply border-border border-b;
}
ion-accordion-group ion-accordion:last-child div[slot="content"] {
  @apply border-none;
}

.has-focus div[slot="label"],
.select-expanded div[slot="label"] {
  @apply text-primary-tint;
}

/* anchor */
a {
  @apply text-primary underline;
}

/* divider */
hr {
  @apply border-border my-2 border-t;
}
