/* Based on tailwind color palette (https://tailwindcss.com/docs/customizing-colors). */

:root {
  --theme-primary: rgb(234 88 12);
  --theme-surface-tint: rgb(142 76 50);
  --theme-on-primary: rgb(255 255 255);
  --theme-primary-container: rgb(255 219 206);
  --theme-on-primary-container: rgb(55 14 0);
  --theme-secondary: rgb(119 87 75);
  --theme-on-secondary: rgb(255 255 255);
  --theme-secondary-container: rgb(255 219 206);
  --theme-on-secondary-container: rgb(44 22 13);
  --theme-tertiary: rgb(104 94 48);
  --theme-on-tertiary: rgb(255 255 255);
  --theme-tertiary-container: rgb(241 227 168);
  --theme-on-tertiary-container: rgb(33 27 0);
  --theme-error: rgb(186 26 26);
  --theme-on-error: rgb(255 255 255);
  --theme-error-container: rgb(255 218 214);
  --theme-on-error-container: rgb(65 0 2);
  --theme-background: rgb(255 248 246);
  --theme-on-background: rgb(35 26 22);
  --theme-surface: rgb(255 248 246);
  --theme-on-surface: rgb(35 26 22);
  --theme-surface-variant: rgb(245 222 214);
  --theme-on-surface-variant: rgb(83 67 62);
  --theme-outline: rgb(133 115 109);
  --theme-outline-variant: rgb(216 194 187);
  --theme-shadow: rgb(0 0 0);
  --theme-scrim: rgb(0 0 0);
  --theme-inverse-surface: rgb(57 46 42);
  --theme-inverse-on-surface: rgb(255 237 231);
  --theme-inverse-primary: rgb(255 181 153);
  --theme-primary-fixed: rgb(255 219 206);
  --theme-on-primary-fixed: rgb(55 14 0);
  --theme-primary-fixed-dim: rgb(255 181 153);
  --theme-on-primary-fixed-variant: rgb(113 54 29);
  --theme-secondary-fixed: rgb(255 219 206);
  --theme-on-secondary-fixed: rgb(44 22 13);
  --theme-secondary-fixed-dim: rgb(231 190 175);
  --theme-on-secondary-fixed-variant: rgb(93 64 53);
  --theme-tertiary-fixed: rgb(241 227 168);
  --theme-on-tertiary-fixed: rgb(33 27 0);
  --theme-tertiary-fixed-dim: rgb(212 199 142);
  --theme-on-tertiary-fixed-variant: rgb(80 71 26);
  --theme-surface-dim: rgb(232 214 209);
  --theme-surface-bright: rgb(255 248 246);
  --theme-surface-container-lowest: rgb(255 255 255);
  --theme-surface-container-low: rgb(255 241 236);
  --theme-surface-container: rgb(252 234 228);
  --theme-surface-container-high: rgb(247 228 223);
  --theme-surface-container-highest: rgb(241 223 217);

  --theme-success: rgb(1, 120, 82);
  --theme-on-success: rgb(255 255 255);
  --theme-success-container: rgb(201, 238, 225);
  --theme-on-success-container: rgb(0, 38, 23);

  --theme-edge: oklch(from var(--theme-background) calc(l - 0.1) c h);
}

@media (prefers-color-scheme: dark) {
  :root {
    --theme-primary: rgb(234 88 12);
    --theme-surface-tint: rgb(255 181 153);
    --theme-on-primary: rgb(255 255 255);
    --theme-primary-container: rgb(113 54 29);
    --theme-on-primary-container: rgb(255 219 206);
    --theme-secondary: rgb(231 190 175);
    --theme-on-secondary: rgb(68 42 32);
    --theme-secondary-container: rgb(93 64 53);
    --theme-on-secondary-container: rgb(255 219 206);
    --theme-tertiary: rgb(212 199 142);
    --theme-on-tertiary: rgb(56 48 6);
    --theme-tertiary-container: rgb(80 71 26);
    --theme-on-tertiary-container: rgb(241 227 168);
    --theme-error: rgb(255 180 171);
    --theme-on-error: rgb(105 0 5);
    --theme-error-container: rgb(147 0 10);
    --theme-on-error-container: rgb(255 218 214);
    --theme-background: rgb(26 17 14);
    --theme-on-background: rgb(241 223 217);
    --theme-surface: rgb(26 17 14);
    --theme-on-surface: rgb(241 223 217);
    --theme-surface-variant: rgb(83 67 62);
    --theme-on-surface-variant: rgb(216 194 187);
    --theme-outline: rgb(160 141 134);
    --theme-outline-variant: rgb(83 67 62);
    --theme-shadow: rgb(0 0 0);
    --theme-scrim: rgb(0 0 0);
    --theme-inverse-surface: rgb(241 223 217);
    --theme-inverse-on-surface: rgb(57 46 42);
    --theme-inverse-primary: rgb(142 76 50);
    --theme-primary-fixed: rgb(255 219 206);
    --theme-on-primary-fixed: rgb(55 14 0);
    --theme-primary-fixed-dim: rgb(255 181 153);
    --theme-on-primary-fixed-variant: rgb(113 54 29);
    --theme-secondary-fixed: rgb(255 219 206);
    --theme-on-secondary-fixed: rgb(44 22 13);
    --theme-secondary-fixed-dim: rgb(231 190 175);
    --theme-on-secondary-fixed-variant: rgb(93 64 53);
    --theme-tertiary-fixed: rgb(241 227 168);
    --theme-on-tertiary-fixed: rgb(33 27 0);
    --theme-tertiary-fixed-dim: rgb(212 199 142);
    --theme-on-tertiary-fixed-variant: rgb(80 71 26);
    --theme-surface-dim: rgb(26 17 14);
    --theme-surface-bright: rgb(66 55 51);
    --theme-surface-container-lowest: rgb(20 12 9);
    --theme-surface-container-low: rgb(35 26 22);
    --theme-surface-container: rgb(39 30 26);
    --theme-surface-container-high: rgb(50 40 36);
    --theme-surface-container-highest: rgb(61 50 47);

    --theme-success: rgb(147, 221, 185);
    --theme-on-success: rgb(1, 64, 42);
    --theme-success-container: rgb(1, 91, 61);
    --theme-on-success-container: rgb(204, 237, 220);

    --theme-edge: oklch(from var(--theme-background) calc(l + 0.1) c h);
  }
}

@theme {
  --color-primary: var(--theme-primary);
  --color-surface-tint: var(--theme-surface-tint);
  --color-on-primary: var(--theme-on-primary);
  --color-primary-container: var(--theme-primary-container);
  --color-on-primary-container: var(--theme-on-primary-container);
  --color-secondary: var(--theme-secondary);
  --color-on-secondary: var(--theme-on-secondary);
  --color-secondary-container: var(--theme-secondary-container);
  --color-on-secondary-container: var(--theme-on-secondary-container);
  --color-tertiary: var(--theme-tertiary);
  --color-on-tertiary: var(--theme-on-tertiary);
  --color-tertiary-container: var(--theme-tertiary-container);
  --color-on-tertiary-container: var(--theme-on-tertiary-container);
  --color-error: var(--theme-error);
  --color-on-error: var(--theme-on-error);
  --color-error-container: var(--theme-error-container);
  --color-on-error-container: var(--theme-on-error-container);
  --color-background: var(--theme-background);
  --color-on-background: var(--theme-on-background);
  --color-surface: var(--theme-surface);
  --color-on-surface: var(--theme-on-surface);
  --color-surface-variant: var(--theme-surface-variant);
  --color-on-surface-variant: var(--theme-on-surface-variant);
  --color-outline: var(--theme-outline);
  --color-outline-variant: var(--theme-outline-variant);
  --color-shadow: var(--theme-shadow);
  --color-scrim: var(--theme-scrim);
  --color-inverse-surface: var(--theme-inverse-surface);
  --color-inverse-on-surface: var(--theme-inverse-on-surface);
  --color-inverse-primary: var(--theme-inverse-primary);
  --color-primary-fixed: var(--theme-primary-fixed);
  --color-on-primary-fixed: var(--theme-on-primary-fixed);
  --color-primary-fixed-dim: var(--theme-primary-fixed-dim);
  --color-on-primary-fixed-variant: var(--theme-on-primary-fixed-variant);
  --color-secondary-fixed: var(--theme-secondary-fixed);
  --color-on-secondary-fixed: var(--theme-on-secondary-fixed);
  --color-secondary-fixed-dim: var(--theme-secondary-fixed-dim);
  --color-on-secondary-fixed-variant: var(--theme-on-secondary-fixed-variant);
  --color-tertiary-fixed: var(--theme-tertiary-fixed);
  --color-on-tertiary-fixed: var(--theme-on-tertiary-fixed);
  --color-tertiary-fixed-dim: var(--theme-tertiary-fixed-dim);
  --color-on-tertiary-fixed-variant: var(--theme-on-tertiary-fixed-variant);
  --color-surface-dim: var(--theme-surface-dim);
  --color-surface-bright: var(--theme-surface-bright);
  --color-surface-container-lowest: var(--theme-surface-container-lowest);
  --color-surface-container-low: var(--theme-surface-container-low);
  --color-surface-container: var(--theme-surface-container);
  --color-surface-container-high: var(--theme-surface-container-high);
  --color-surface-container-highest: var(--theme-surface-container-highest);

  --color-success: var(--theme-success);
  --color-on-success: var(--theme-on-success);
  --color-success-container: var(--theme-success-container);
  --color-on-success-container: var(--theme-on-success-container);

  --color-edge: var(--theme-edge);
}
